@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url('/img/bg.jpg');
}
/* Navbar ---  */

nav{
    font-family: 'Ubuntu', sans-serif;
    /* margin: 2px 0; */
    position: sticky;
    top: 2px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    color: white;
    background: none;
    height: 60px;
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    /* justify-content: center; */
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
}
.brand:hover{
    font-size: 1.5rem;
    text-shadow: 3px 1px 3px #fe0505;
    cursor: pointer;
}
.brand img{
    width: 50px;
    padding: 0 12px;
    border-radius: 50%;
}
/* Main ---  */
.container{
    min-height: 72vh;
    /* background-color: black; */
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 23px;
    /* background-image: url('bg.jpg'); */
    /* object-fit: cover; */
    flex-direction: column;
}
.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    width: 80%;
    background: white;
    display: flex;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem:hover{
    text-shadow: 1px 0px 2px red;
    font-size: 23px;
    /* font-weight: bold; */
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    box-shadow: 2px 2px 14px red;
    cursor: pointer;
}
.csStyle{
    text-shadow: 2px 1px 3px red;
    font-size: 23px;
    height: 70px;
    width: 85%;
    background: cadetblue;
    display: flex;
    color: white;
    font-weight: bold;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    box-shadow: 2px 2px 14px red;

}
.imge{
    width: 45px;
    margin: 0 23px;
    border-radius: 34px;
}
.songItemPlay{
    width: 25px;
    margin: 0 15px;
    /* cursor: pointer; */
}
.songItemPlay:hover{
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px blue;
    margin: 0 15px;
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.timeStamp{
    margin: 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.timeStamp i{
    cursor: pointer;
}

/* Bottom --  */
.bottom{
    position: sticky;
    background-color: black;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
    display: flex;
}
.icons img{
    cursor: pointer;
    width: 30px;
    margin: 0 10px;
    filter: invert();
}
#masterPlay{
    width: 45px;
 }
/* Progress Bar --  */
#myProgessBar {
    width: 80vw;
    cursor: pointer;
}